# background images
backgrounds/.config/backgrounds/*
!background/.config/background/.gitkeep

# quickshell
quickshell/.config/quickshell/local/*
!quickshell/.config/quickshell/local/.gitkeep

# hyprland
hyprland/.config/hypr/local/*
!hyprland/.config/hypr/local/.gitkeep

# hypridle
hypridle/.config/hypr/hypridle.conf

# fish
fish/.config/fish/local/*
!fish/.config/fish/local/.gitkeep