@import url("/home/arno/.config/themes/theme.css");

window {
    margin: 0px;
    border: 1px solid @mauve;
    background-color: @base;
}

#input {
    margin: 5px;
    border: none;
    color: @pink;
    background-color: @surface0;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: @surface0;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: @crust;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: @text;
}

#entry.activatable #text {
    color: @lavender;
}

#entry>* {
    color: @lavender;
}

#entry:selected {
    background-color: @surface1;
}

#entry:selected #text {
    font-weight: bold;
    color: @pink;
}